
.main{
    margin-top: 1%;
    width: 50%;
    margin-left: 28%;
}
.row{
    height:30px;
}
.zhi{
    font-family: "palatino linotype",palatino,serif;
    color: #5C5C5C;
    font-size: 16px;

}
.title{
    font-family: "palatino linotype",palatino,serif;
    font-size: 18px;
    font-weight: bold;
    color:  #408080;
}
.row_left{
    position: fixed;
    left: 10%;


}
.row_center{
    position:  fixed;
    left: 40%;


}
.row_right{
    position:  fixed;
    left: 70%;

}






.ui-datatable-tablewrapper tbody tr td {
    
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    font-size: 4px;

}



.ui-datatable-tablewrapper  tbody tr :hover{
    overflow: visible;
    white-space: normal;
}

