#form_div{
       margin: auto;
       display: none;
      
}
#form_style{
    position:  fixed;
    top: 5%;
    left: 11%;
     

     align-content: center;
}
#form_div a img{
    position:  absolute;
     left: 93%;
     top: 5%;
}



